#wrap{
 
    width:1000px;
    height: 1000px;
    margin: 0px auto;
    padding: 5px ;
    background-color :#7eca9c;
   position: relative;
}

body{
    background-image: url('assets/image/1.hoa\ lan.jpg');
}
#title{
    background-image: url('assets/banner.jpg');
    width: 1000px;
    height: 250px;
    float: left;
   
}


 

#content{
  
    float: left;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
   
   
    
    
}

#footer{
    padding-bottom: 0px;
    margin-bottom: 10px;
}


.menucap2 li {
    display: none;
    background-color: yellow;
  
}
#menu a{
    text-decoration: none;
    color: whitesmoke;
  

}
#menu>li{
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;


}



.menucap1>li{
    display: inline-block;
    width: 198px;
    height: 30px;
    float: left;
    background-color:#1c1427;
     border: 1px dotted orange;
    
  
  
}
.menucap1 li a{
    line-height: 30px;
    display: block;/*cho noi dung a = voi li*/
    text-align: center;
  
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  
    
}
.menucap1 li:hover .menucap2 li{
    display: block;
  
}
.menucap2 li { 
  margin:0px;
  width: 198px;
  height: 30px;
  background-color: #1c1427;
  padding: 0px;
  border: 1px dotted orange;
 

}
.menucap2{

    margin: 0px;
    padding-left: 0px;
    position: absolute;
    float: left;
}
.menucap2 a{
    padding-left: 0px;
    margin-left: 0px;
}
.menucap2 li:hover {
    background-color: chartreuse;
}
 #content h4{
   font-size: 20px;
   color: orangered;
   border: 1px ;
 }
 *{
     margin: 0px;
     padding: 0px;
 }
 #content li{
     margin-left: 25px;
 }
#content p {
  padding: 5px;
}

#footer{
    width: 980px;
    clear: both;
    border-top: 2px dotted black;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


/**dinh dang shaddow font family*/

#home{
    width: 30px;
    height: 20px;
    background-color: blue;
}


