body{
background-color: cornsilk;

}
*{
    margin: 0px auto;
   
}
#swap{
   margin-top: 0px;
    width:1000px;
    height: 1000px;
    line-height:70px;
    background-color:#B0E0E6;
    position: relative;
   
    

}
.header{
    width: 980px;
    height: 70px;
    background-color:black;
    margin: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    float: left;
    
}
#trai{
    width:400px;
    height:650px;
    margin:10px;
    background-color:white;
    float:left;
    
 
}

.right{
    width:560px;
    height:650px;
    background-color: white;
    float:right;
    text-align: center;
    font-weight: bold;
    margin-top:10px;
    margin-right: 10px;
    
}
.righth3{
    margin-top: 20px;
}
#aa{
    color: blue;
    font-weight: bold;
    text-align: center;
    
}
#footer{
    
    width: 980px;
    height: 70px;
    margin:10px;
    clear: both;
    background-color: black;
    
    position: absolute;
    bottom: 0px;
    


    

}
.footerh3{

    font-weight: bold;
    text-align: center;
    color: white;
    margin:0px auto;
   
}
.dangxuat{
    background-color: black;
    width: 40px;
    height: auto;
}
imge{
        border-radius: 50%;
      
}
